@charset "utf-8";
/* css 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 요소의 너비 유지 */
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit; /* 링크의 글자 색상을 부모 요소로부터 상속받음 */
}
img {
    vertical-align: top; /* 이미지 아래의 여백 제거, 상단 정렬 */
    max-width: 100%; /* 이미지를 부모 요소의 너비에 맞춤(이미지 깨짐 방지) */
}
button {
    cursor: pointer; /* 버튼을 손가락 커서로 표시 */
}
body {
    background: #fff;
    color: #333;
}

/* popup 기준점 */
.wrap {
    position: relative;
}

/* 레이아웃 스타일 작업 */
.inner {
    width: 1200px;
    margin: auto;
}

/* header */
header {
    position: relative;
    height: 100px;
    background-color: #fff;
    padding-top: 35px; /* header에 딱 붙은 형태로 시작해서 안쪽 여백 부여 */
    padding-left: 10px; /* header에 딱 붙은 형태로 시작해서 안쪽 여백 부여 */
}
nav {
    position: absolute; /* 공중에 띄워 서브메뉴가 펼져질 수 있도록 */
    top: 40px;
    right: 10px;
    z-index: 10;
}
nav > ul {
    display: flex; /* 메뉴 나란히 */
}
nav > ul > li {}
nav > ul > li > a {
    display: block;
    width: 120px;
    text-align: center;
    font-weight: bold;
    padding: 10px; /* a의 영역이 글자 크기만큼인데, 패딩을 줌으로써 크기 영역을 넓혀줌 */
    background: #3d155f;
    color: #fff;
}
nav > ul > li:hover > a { /* 웹보이랑 조금 다름 */
    background: #f96167;
}
.sub {
    display: none;
}
.sub  li a {
    display: block;
    background: #fff;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.sub li a:hover {
    background: #3d155f;
    color: #fff;
}

/* slider */
.slide {
    height: 300px;
    overflow: hidden; /* 이미지 오른쪽 정렬상태에서 넘치는거 숨김 */
}
.slide ul { /* 슬라이드 가로 정룔 */
    display: flex;
    width: 3600px;
    height: 300px;
}
.slide ul li {
    position: relative; /* 슬라이드 글자 스타일 기준점 */
    width: 1200px;
    height: 300px;
}
.slide ul li a {
    display: block;
    height: 100%;
}
.slide ul li.s1 { /* ㅣi .s1이 아닌 li.s1임 */
    background: url(../images/s1.jpg) no-repeat center/cover;
}
.slide ul li.s2 {
    background: url(../images/s2.jpg) no-repeat center/cover;
}
.slide ul li.s3 {
    background: url(../images/s3.jpg) no-repeat center/cover;
}
.slide ul li h2 { /* 글자 스타일 */
    background: rgba(61, 21, 95, 0.7);
    position: absolute; /* 글자 스타일 올림 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 50px;
    font-size: 28px;
    color: #fff;
}
.slide ul li h2 span { /* 글자 스타일 */
    color: #f96167;
}

/* contents */
.contents { /* 컨테이너 역할 */
    height: 200px;
    display: flex; /* 자식 article 수평 나열, 이때 자식요소는 부모 요소 높이만큼 들어가므로 부모 요소에 높이값 넣어줌  */
}
.contents article { /* 태그로 분할 */
    width: 400px;
}

/* contents .notice */
.contents .notice {
    padding: 10px;
}
.notice h2 { /* 공지사항 스타일 */
    background: #3d155f;
    color: #fff;
    border-radius: 10px 10px 0 0;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
}
.notice ul {
    background: #3d155f;
    padding: 5px 15px;
}
.notice ul li {
    border-bottom: 1px dashed #fff;
}
.notice ul li:last-child {
    border-bottom: none;
}
.notice ul li a {
    display: block;
    padding: 5px 0;
    position: relative; /* span 기준 역할 */
    color: #fff;
}
.notice ul li p {
    width: 260px;
    white-space: nowrap; /* 텍스트가 영역보다 넘칭때 줄바뚬 안되도록 설정 */
    overflow: hidden; /* 넘친 텍스트 숨김 */
    text-overflow: ellipsis; /* 말줌임표 */
}
.notice ul li span {
    position: absolute;
    right: 0;
    top: 5px;
}

/* contents gallery */
.contents .gall {
    padding: 10px;
}
.gall h2 {
    background: #f96167;
    color: #fff;
    border-radius: 10px 10px 0 0;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
}
.gall ul {
    display: flex;
    background: #f96167;
    padding: 10px;
    gap: 10px;
}
.gall ul li img {
    width: 120px;
    height: 120px;
    object-fit: cover; /* 이미지가 요소의 킉에 맞춰 잘리더라도 비율 유지하며 채우도록 설정 */
}
.gall ul li:hover {
    opacity: 0.7; /* 마우스 올렸을때 투명도 */
}


/*  contents go */
.contents .go {
    background: #eee;
    padding: 10px;
}
.go h2 {
    color: #3d155f;
    margin-bottom: 20px;
}
.go ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.go ul li {
    text-align: center;
}
.go ul li a {
    display: block;
    height: 100%;
}
.go ul li p {
    width: 80px;
    height: 80px;
    background: #3d155f;
    padding-top: 20px;
    border-radius: 20px;
    margin-bottom: 5px;
}
.go ul li span {
    font-weight: bold;
}

/* footer */
footer {
    position: relative; /* sns 영역을 공중에 띄우는 기준 */
    height: 100px;
    background: #666;
    color: #fff;
    padding-left: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.fsns {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 30px;
    right: 30px;
}
.fsns li a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
}
.fsns li:nth-child(1) a {
    background: #3f5b9a;
}
.fsns li:nth-child(2) a {
    background: #47b749;
}
.fsns li:nth-child(3) a {
    background: red;
}


/* popup */
.popup {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    padding: 20px;
    border: 2px solid #f96167;
    border-radius: 20px;
    z-index: 9999;
    display: none; /* 스크립트 처리 */
}
.popup h2 {
    color: #f96167;
    margin-bottom: 20px;
}
.popup .text {
    margin: 20px 0;
}
.popup .close {
    text-align: right;
}
.popup .close button {
    background: #f96167;
    border: 0;
    padding: 10px;
    color: #fff;


}
.popup .close button:hover {
    background: #3d155f;
}